<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Point Estimation of Cars</title>
</head>
<body>
<h2>View Point Estimation of Cars ...</h2>
<a href="index.html" class="button">Select More Images</a>

<div class="text-block">
    <h2>Back</h2>
</div>

<div class="text-block">
    <h2>Front</h2>
</div>

<div class="text-block">
    <h2>Back Left</h2>
</div>

<div class="text-block">
    <h2>Back Right</h2>
</div>

<div class="text-block">
    <h2>Front Left</h2>
</div>

<div class="text-block">
    <h2>Front Right</h2>
</div>

<div class="text-block">
    <h2>Left</h2>
</div>

<div class="text-block">
    <h2>Right</h2>
</div>


</body>
</html>
